body {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.4;
	color:#fff;
	
}

/*cambio de medida de texto */
.small-extra{
	font-size: 1.1em;
	text-align: justify;
	line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	/*font-family: Teko, Monaco, Consolas, "Courier New", monospace;*/
	font-family: centBold;
	font-weight: 500;
}
.page-header-abs-lg .rd-navbar:not(.rd-navbar--is-stuck).rd-navbar-static .rd-navbar-menu a:hover {
	color: #ff9401;
}
li a:hover {
	text-decoration: none !important;
}
.colorTitulos{
	color: #fff;
}
a {
	color: #1b1f47;
	text-decoration: none;
}
.video-bg {
	position:absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
	width: 100%;	
	overflow: hidden;
	z-index:-1;
}

.video-bg video {
	background-size: cover;	
	height: auto;
	min-height: 100%;
	min-width: 100%;
	position: relative;	
	width: auto;
}

.btn-find {
	background-color: transparent;
	border: none;
    width: 50px;
    height: 30px;
    padding: 0;
    color: #ff9401;
    padding-left: 20px;
    font-size: 1.6em;
}
.step-links{
	color: #fff;	
}

.step-links a:link{
	color:#fff;
}
.step-links a:hover{
	color:#ff9401;
}

.thumbnail-variant-1:after{
	opacity: .25;
}

.thumbnail-variant-1:hover:after{
	opacity: .65 ;
}

div.thumbnail-variant-1 p{
	color: #fff;
}

.div_yt{
	margin: 0;
}

.btncate{
	transition: .6s ease-in-out;
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.btn_mas span {
	width: 100%;
}

.btn_mas a {
	display: block;
	width: 180px;
	margin: 10px auto;
}

.contain_yt{
	width: 100%;
	height: 0%;
	padding-bottom: 56.25%;
	position: relative;
}

.contain_yt iframe{
	position: absolute;
	width: 100%;
	height: 100%;
}
.section-80 {
	padding-top: 0 !important;
}


@media (min-width: 992px) and (max-width: 1200px){
/*	.div_yt{
		margin: 0 24%;
	}*/
	
}

@media (max-width: 991px){
	.contain_yt iframe{
		position: absolute;
		top: 0;
		left: 50%;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 80%;
		height: 80%;
	}
	.contain_yt{
		padding-bottom: 56.25%;		
	}
	.div_yt{
		margin: 0 50px;
	}
}



.wmode{
    margin-top: 10% !important ;
    transform: rotate(-90deg) translateX(-70%);
}

.wmode a {
    color: #fff;
}

@media (max-width: 992px){
	.wmode{
		margin-top: 0px !important;
    	transform: rotate(0deg) !important;
		}
}
.small {
	font-size: 16px;
}

/*.small-extra {
	font-size: 12px;
}*/

@media (max-width: 950px) {

	body{
		font-size: 12px;
	}
}

.text-spacing-300 {
    letter-spacing: 0.2em;
}
.post-portfolio-title {
	line-height: 100%;
	font-family: centCond;
}

@media (min-width: 992px) {
	.post-portfolio-title {
		font-size: 150px;
	}
}

.publicacion{
	transition-delay: 0.7s !important;
	transition: 0s ease 0s;
}

.publicacion {
	opacity: 0;
	overflow: hidden;
}

.publicacion:after {
	content: '';
}

.fp-section.fp-completely .publicacion{	
	opacity: 1;	
	transition: 1s cubic-bezier(0.8, 0.12, 0.34, 1.02) 0.05s;
}

.imgPortada{
	max-width: 40%;
	/*margin-top: 5% !important;*/
}

.thumbnail-variant-1 .caption{
	width: 90%;
}
@font-face {
	font-family: centBold;
	src: url("../fonts/twcen/TCB_____.TTF") format("truetype");
}

@font-face {
	font-family: centCond;
	src: url("../fonts/twcen/TCCM____.TTF") format("truetype");
}

@font-face {
	font-family: cent;
	src: url("../fonts/twcen/TCM_____.TTF") format("truetype");
}

.btn-scroll-top {
	font-family: centCond;
}

.fp-section.fp-completely .post-portfolio-title{
	overflow: visible;
}
/*font navbar*/
.rd-navbar-static .rd-navbar-menu {
	font-weight: 400;
	/*font-family: Teko, Monaco, Consolas, "Courier New", monospace;*/
	font-family: cent;
	text-transform: uppercase;
	font-size: 1.7rem;
}
/*navbar mobile*/
.rd-navbar-static .rd-navbar-nav{
	font-family: cent;
}

.rd-navbar-static.rd-navbar-carousel .rd-navbar-owl .rd-navbar-owl-item:before, .rd-navbar-static.rd-navbar-vertical .rd-navbar-nav > li:before{
	font-family: centCond;
}

.navUls{
	z-index: 30;
	height: 100vh;
	width: 200px;
	position: absolute;
	
}
.logoUls{
	position: absolute;
	bottom: 8%;
	height: 130px;
}

.pagination{
	margin:0px;
}
/*íconos footer*/
.page .text-base {
	color:#fff; 

}
.page-footer{
	color:#fff;
}

.page-banner{
	border-color:#252525;
	background-color: #252525;
	color:#fff;
	height:150px;
	top:calc(100vh - 150px)	;
	text-align: center;
}

.footerCat img{
	width: 200px;
	margin-left: 0px;
	margin-bottom: 20px;
}

.page-section{
	    border: 20px solid #252525;
}
@media (max-width: 1200px) {
	.publicacion {
		opacity: 1;
	}

	.page .text-base{
		color:#fff;
	}

	.page-banner{
		height: 100px;
	}
}

div.titulo-categoria {
	/*padding-right: 170px;*/
	text-transform: uppercase;
}

@media (max-width: 767px) {
	div.titulo-categoria {
		padding-right: 0px;
	}
}

/*color navbar*/
.rd-navbar-static .rd-navbar-menu a, .rd-navbar-static .brand{
	color: #4c89c4;
}
.rd-navbar-toggle > span{
	background-color: #fff;
}
h2.titulo-busqueda {
	color: #fff !important;
}

.page-content {
	justify-content: normal !important;
}

.page{
	background-color: #252525;
	/*background: url("../images/bg/pulsoBG.svg") fixed no-repeat;*/
	background-size: 125vw;
	background-position: center 20vh;
	
}

.filtro:before{
	background-color: #000;
	opacity: .25;
	z-index: 5;
}
.modal-content {
	background-color: transparent;
}

button.close {
	color: #fff;
	font-weight: normal;
	opacity: 1;
	text-shadow: none;
}

button.close:hover {
    color: #fff;
    opacity: 0.7;
}

/* Navbar template base */

.navbar .brand {
    margin-top: 3px;
    margin-bottom: -2px;
}

@media (min-width: 768px) {
	.navbar .navbar-inner {
	    padding-top: 46px;
	    padding-bottom: 46px;
	    flex-direction: row;
	}

	.page-content {
		padding-top:150px;
	}
}

.navbar .navbar-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1810px;
    padding: 26px 33px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    transition: padding 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar {
    z-index: 10;
    display: block;
    transition-delay: .45s;
}

.navbar .navbar-menu {
    font-weight: 400;
    font-family: cent;
    text-transform: uppercase;
    font-size: 1.7rem;
 	letter-spacing: 0.05em;
}

.navbar .navbar-menu > li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-toggle {
    position: relative;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 20px;
    padding: 0;
}

.post-blog-grid-2 .post-blog-title {
    color: #fff;
}

.post-blog-grid-2:hover h2{
    color: #ff9401;
}

.categoria-video-preview {
	display:none;
}

.embed-responsive {
	min-height: 300px;
}

.rd-navbar-static.rd-navbar-vertical .rd-navbar-dropdown, .rd-navbar-static .rd-navbar-nav > li.rd-navbar-submenu.opened .rd-navbar-dropdown {
	padding-left: 25px;
}

.btn-scroll-top {
	font-size: 1.2em;
}

.modal-backdrop.in {
	opacity: 0.7;
}

.modal {
	top: 16%;
}