{% extends "base.html" %} 
{% load staticfiles %}
{% block title %}Página no encontrada{% endblock %} 

{% block content %}
    <div class="row">
        <div class="col-md-12" style="margin-top: 100px;">
            <center>
                <img src="{% static 'images/iconos/oops.png' %}" alt="" />
            </center> 
        </div>
        <div class="col-md-12">
            <div class="titulo" style="font-size:2em;padding:0px;color:#434244;text-align:center;">
                <p style="font-size: 3em;line-height: 1em;margin: 0px;">500</p>
                Error Interno Del Servidor
            </div>
        </div>
        <div class="col-md-12">
            <div class="parrafo" style="font-size:1.3em;padding:20px;color:#434244;text-align:center;font-weight:300;">
                Lo sentimos, pero ha ocurrido un problema con el servidor, por favor, intentalo mas tarde.<br/>
                Contactate con el administrador en <b>soporte@userena.digital</b>
            </div>
        </div>
        <div class="col-md-12">
            <center>
                <img src="{% static 'images/iconos/campusito_huevo.png' %}" alt="" />
            </center>
        </div>
    </div>
{% endblock %}