{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Campus Digital">
        <meta name="keywords" content="userena, campus digital, uls, la serena, aprendizaje, online, vr, realidad virtual, astroturismo, turismo, cielo, region estrella, observatorio">
        <!--Title-->
        <title>{% block title %}unIVrso{% endblock %}</title>
        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,300,500,700,800,100,60" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{% static 'images/iconos/favicon.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/iconos/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/iconos/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/iconos/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'images/iconos/apple-touch-icon-57-precomposed.png' %}">
        <!--CSS-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" >
        <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet" type="text/css" >
        <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" >
        <link href="{% static 'css/astro-animation.css' %}" rel="stylesheet" type="text/css" >
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" >
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css" >
        <link href="{% static 'css/custom.css' %}?v=2" rel="stylesheet" type="text/css" >
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69096629-6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-69096629-6');
        </script>
    </head>
    <body>
        <div class="body-navegation">
            {% block navegation %}{% include 'navegacion.html' %}{% endblock %}
        </div>
        <div class="body-content">
            {% block content %}{% endblock %}
        </div>
        <div class="body-footer">
            {% block footer %}{% include 'footer.html' %}{% endblock %}
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.parallax.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mousescroll.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/canvas.js' %}"></script>
        <!--script type="text/javascript" src="{% static 'js/pre_loader.js' %}"></script -->
        <script type="text/javascript" src="{% static 'js/custom.js' %}?v=2"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
