{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}uniVRso | Campus Digital{% endblock %}

{% block content %}

<!--/# Slider Area-->
<div id="congreso">

    <!-- Start About Us -->
    <div class="container-full padding-top" style="padding-top:71px !important">
        <div class="row section-title text-center" style="padding-bottom:50px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                <p>
                  <img src="{% static 'images/congreso/banner-congreso.jpg' %}" alt="Banner" width="100%" />
                  <div style="text-align:center">
                    <img src="{% static 'images/congreso/programa-congreso.jpg' %}" alt="Programa" width="80%"/>
                  </div>
                </p>
            </div>
        </div>

      </div>
</div>

{% endblock %}
