{% extends "base_encuesta.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}uniVRso | Campus Digital{% endblock %}
{% block navegation %}{% endblock %}
{% block content %}


<div id="inicio">
  <div class="row section-title padding-top" style="padding-bottom: 50px !important;padding-top: 50px !important">
      <div class="col-12">
        <center><h2>Danos tu Opinión</h2></center>
        <!-- <center><h3>Curso de Astronomía general, aplicada a los cielos de la Región de Coquimbo</h3></center> -->
      </div>
  </div>

  <div class="container" style="padding-bottom:50px">
    {% if procesado %}
      <div class="alert alert-success"><br>Hemos recibido su cuestionario. Ahora puede continuar con la Secuencia de Aprendizaje. Muchas Gracias !!!<br><br></div>
    {% endif %}
    <div class="col-12" style="text-align:justify">
      Estimados y Estimadas,<br><br>
      Hemos llegado al final del MOOC 2 <b>¿Qué tipo de Ciencia se desarrolla en los observatorios de la Región de Coquimbo?</b>. Ahora resta contestar este breve formulario que a su vez es un <b>requisito para la obtención de tu constancia de participación</b>, para ello dispondrás hasta el día Viernes 8 de Noviembre a las 23:59 hrs. Muchas gracias por tu participación.
    </div>
    <br><br>
    <form id="form_encuesta" name="form_encuesta" action="#" method="POST" accept-charset="UTF-8">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">{{ form_encuesta.email.label }}</label>
        {{ form_encuesta.email }}
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        {% for error_email in form_encuesta.email.errors %}
          <div class="alert alert-danger" role="alert">{{ error_email }}</div>
        {% endfor %}
      </div>

      <div class="form-group">
        <label for="id_informo">{{ form_encuesta.informo.label }}</label>
        {{ form_encuesta.informo }}
        <input id="otro_medio" name="otro_medio" class="form-control" type="text" placeholder="Indicar otro medio por el cual se informó" readonly>
      </div>

      <div class="form-group">
        <label for="regiones">¿De qué Región es usted?</label><br/>
        <select id="regiones" name="regiones" class="form-control"></select>
      </div>
      <div class="form-group">
        <label for="comunas">¿De qué comuna es usted?</label><br/>
        <select id="comunas" name="comunas" class="form-control"></select>
      </div>
      <div class="form-group">
        <label for="mejoraria">{{ form_encuesta.mejoraria.label }}</label>
        {{ form_encuesta.mejoraria }}
      </div>
      <div class="form-group">
        <label for="realizar">{{ form_encuesta.realizar.label }}</label><br>
        {{ form_encuesta.realizar }}
      </div>
      <button id="enviar_encuesta" type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>

{% endblock %}
