{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Sitio en desarrollo{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12" style="margin-top: 100px;">
          <center>
              <img src="{% static 'images/iconos/oops.png' %}" alt="" />
          </center>
      </div>
      <div class="col-md-12" style="margin-bottom: 50px;">
          <center>
            <div class="titulo" style="font-size:4em;padding:0px;color:#009fe3;text-align:center;">
                <p>Sitio en construcción</p>
            </div>
          </center>
      </div>
      <div class="col-md-12">
          <center>
              <img src="{% static 'images/iconos/campusito_huevo.png' %}" alt="" />
          </center>
      </div>
    </div>
{% endblock %}
