{% load staticfiles %}
{% load i18n %}
<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12" style="padding-top:25px;padding-bottom:100px;">
              <center>
                  <a href="https://www.gorecoquimbo.cl/" target="_blank">
                     <img src="{% static 'images/logos/gore.svg' %}" class="logos-footer" alt="Gobierno Regional" />
                  </a>
                  <a href="http://userena.digital/" target="_blank">
                    <img src="{% static 'images/logos/campus_blanco.svg' %}" class="logos-footer" alt="Campus Digital" />
                  </a>
                  <a href="http://www.userena.cl/" target="_blank">
                    <img src="{% static 'images/logos/uls.svg' %}" class="logos-footer" alt="Universidad de La Serena" />
                  </a>
                  <div class="copyright-text">
                      <p>&copy; Copyright 2019 <a href="#"><span>univrso</span></a>. {% trans 'Todos los Derechos Reservados' %}</p>
                  </div>
              </center>
            </div>

            <div class="col-sm-12 scroll-up">
                <a data-scroll href="#inicio"><i class="fa fa-angle-double-up"></i></a>
            </div>

        </div>
    </div>
</footer>
