{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}uniVRso | Campus Digital{% endblock %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<div class="div-info">
  <button type="button" class="btn btn-mas-info" data-toggle="modal" data-target="#suscribirModal">
  </button>
</div>

<div id="inicio">
    <!-- Start Slider Area -->
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <div class="video-bg">
          <img src="{% static 'images/fondo.jpg' %}" style="position: absolute;left: 0px;top: 0px;z-index: -1;"/>
            <video autoplay loop muted >
              <source src="{% static 'video/intro.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div class="carousel-inner">
            <div class="item active">
                <div class="overlay">
                    <div class="slider-caption text-center container">
                      {% if LANGUAGE_CODE == 'en'%}
                        <img class="logo_en" src="#" />
                      {% else %}
                        <img class="logo" src="#" />
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-ondas"></div>
    </div>
    <!--/#main-carousel-->
</div>
<!--/# Slider Area-->
<div id="somos">
    <!-- Start About Us -->
    <div class="container-full padding-top">
        <div class="row section-title text-center" style="padding-bottom: 30px !important; margin:0px !important;">
            <div class="col-sm-12" style="padding-left: 5%; padding-right: 5%">
                <h2>{% trans 'QUIÉNES SOMOS' %}</h2>
                <p>{% blocktrans %}Somos un Proyecto FIC-R "Fondo de Innovación para la Competitividad Regional", ejecutado por Campus Digital de la Universidad de La Serena, que busca fortalecer el Turismo Astronómico de la Región de Coquimbo a través de un programa de formación de cursos masivos online (MOOC) y el desarrollo de una aplicación móvil de realidad virtual.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row section-title liston-quienes-somos">

            <div class="quienes-somos col-12">
              <!-- Gobierno Regional -->
              <div class="info-card about-content">
                <div class="front">
                  <center>
                    <img class="card-image img-responsive" src="{% static 'images/logos/gore.svg' %}" alt="Gobierno Regional">
                  </center>
                </div>
                <div class="back">
                  <a href="https://www.gorecoquimbo.cl/" target="_blank">
                    <p class="descripcion-instituciones">
                        {% blocktrans %}Buscamos fomentar el desarrollo social, cultural y económico de la Región de Coquimbo para mejorar la calidad de vida de sus habitantes a partir de la planificación e inversión de recursos.{% endblocktrans %}
                    </p>
                  </a>
                </div>
              </div>

              <!-- Universidad -->
              <div class="info-card about-content">
                <div class="front">
                  <center>
                    <img class="card-image img-responsive" style="width:90% !important" src="{% static 'images/logos/uls.svg' %}" alt="Universidad de La Serena">
                  </center>
                </div>
                <div class="back">
                  <a href="https://www.userena.cl/" target="_blank">
                    <p class="descripcion-instituciones">
                    {% blocktrans %}Somos la Universidad Estatal de la Región de Coquimbo, que centra su quehacer en las áreas de las ciencias, la tecnología, las humanidades y las ciencias sociales. {% endblocktrans %}
                    </p>
                  </a>
                </div>
              </div>

              <!-- Campus -->
              <div class="info-card about-content">
                <div class="front">
                  <center>
                    <img class="card-image img-responsive" src="{% static 'images/logos/campus_azul.svg' %}" alt="Campus Digital - ULS">
                  </center>
                </div>
                <div class="back">
                  <a href="http://userena.digital/" target="_blank">
                    <p class="descripcion-instituciones">
                      {% blocktrans %}Desarrollamos programas educativos a través de la plataforma e-learning más moderna del país, fortaleciendo la difusión científica y cultural de nuestra Universidad de La Serena.{% endblocktrans %}
                    </p>
                  </a>
                </div>
              </div>

              <!-- Area Astronomia -->
              <div class="info-card about-content">
                <div class="front">
                  <center>
                    <img class="card-image img-responsive" src="{% static 'images/logos/depto_astronomia.svg' %}" alt="Departamento de Astronomía ULS">
                  </center>
                </div>
                <div class="back">
                  <a href="http://astro.userena.cl" target="_blank">
                    <p class="descripcion-instituciones">
                      {% blocktrans %}
                        Somos investigadores, ingenieros, personal asistente, estudiantes de postgrado, y más de 30 instituciones nacionales e internacionales en colaboración directa quienes conformamos la comunidad AstroSerena.
                      {% endblocktrans %}
                    </p>
                  </a>
                </div>
              </div>

              <!-- Facultad de Ciencias -->
              <div class="info-card about-content">
                <div class="front">
                  <center>
                    <img class="card-image img-responsive" src="{% static 'images/logos/facse_aniversario.jpg' %}" alt="Facse">
                  </center>
                </div>
                <div class="back">
                  <a href="http://facse.userena.cl/" target="_blank">
                    <p class="descripcion-instituciones">
                    {% blocktrans %}
                      Desarrollamos programas de pregrado y postgrado, con pertinencia, calidad y destinados a formar un capital humano con cultura emprendedora que permita aportar al desarrollo de la Región de Coquimbo
                    {% endblocktrans %}
                    </p>
                  </a>
                </div>
              </div>

              <!-- Camara de Turismo -->
              <div class="info-card about-content">
                <div class="front">
                  <center>
                    <img class="card-image" src="{% static 'images/logos/camara_astroturismo.jpg' %}" alt="Cámara Astroturismo" style="width: 95%">
                  </center>
                </div>
                <div class="back">
                  <a href="http://www.camaraturismoregioncoquimbo.cl" target="_blank">
                    <p class="descripcion-instituciones">
                      {% blocktrans %}
                        Somos una asociación gremial que agrupa a empresarios del sector turístico de la Región de Coquimbo, pertenecientes a las provincias de Elqui, Limarí y Choapa.
                      {% endblocktrans %}
                    </p>
                  </a>
                </div>
              </div>
            </div>
        </div>



        <div id="our-work"><!-- Start our work -->
          <div class="container" style="padding-bottom: 100px; padding-top: 50px !important">
        		<div class="portfolio-menu text-center">
        			<ul>
        				<li class="active filter"  data-filter="all">Todos</li>
                {% for categoria in categorias %}
                  <li class="filter"  data-filter="{{ categoria.nombre }}">{{ categoria.nombre }}</li>
                {% endfor %}
        			</ul>
        		</div>
        		<div id="portfolio-details">
        			<div id="single-portfolio">

      	    	</div>
          	</div><!-- /#portfolio-details-->

        		<div class="portfolio-item padding-bottom portfolio_contents">
        			<div id="portfolio_filter">
                {% for categoria in categorias %}
                  {% for equipo in equipos %}
                    {% if equipo.categoria_id == categoria.id %}
                    <div class="col-sm-3 col-md-2 portfolio-content mix all {{ categoria.nombre }}">
            					<img class="img-responsive" src="{{ equipo.imagen.url }}" alt="" />
            					<div class="overlay">
                        <h5 style="color:#FFFFFF !important"> {{ equipo.nombre }} </h5>
                        {% if LANGUAGE_CODE == 'en'%}
                           <h6 style="color:#FFFFFF !important">{{ equipo.cargo_en }}</h6>
                        {% else %}
                           <h6 style="color:#FFFFFF !important">{{ equipo.cargo }}</h6>
                        {% endif %}
            						<!-- <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-external-link"></i></a> -->
            					</div>
            				</div>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
        			</div>
        		</div>
          </div> <!-- End Container -->
      	</div><!-- #/ our work -->
    </div>


    <div class="slider-caption-redes-sociales">
      <div class="video-bg" style="position:absolute;">
        <img src="{% static 'images/fondo.jpg' %}" style="position: absolute;left: 0px;top: 0px;"/>
      </div>
      <div class="row liston-redes-sociales" style="margin-right:0px; margin-left:0px">
          <div class="barra-redes-sociales"></div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-xs-offset-3 col-sm-offset-3 col-md-offset-3">
              <div class="service-content">
                  <a href="https://www.facebook.com/Univrso.ULS/" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
              <div class="service-content">
                  <a href="https://www.instagram.com/univrso.uls/" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-xs-offset-right-3 col-sm-offset-right-3 col-md-offset-right-3">
              <div class="service-content">
                  <a href="https://twitter.com/univrso_uls" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
          </div>
      </div>
    </div>
</div>

<!-- Nuestros Productos -->
<div id="productos">
  <div class="container-full padding-top padding-bottom">
      <!-- Aplicación -->
      <div class="row section-title text-center" style="padding-bottom:10px">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
              <h2>{% trans 'NUESTROS PRODUCTOS' %}</h2>
              <h3>{% trans 'Aplicación' %}</h3>
              <p style="text-align: center">{% blocktrans %}App de realidad virtual que proporciona una experiencia interactiva y real sobre la astronomía de la Región de Coquimbo. Disponible para IOS y/o Android.{% endblocktrans %}</p>
          </div>
      </div>
      <div class="row text-center">
        <center>
          <div class="contenedor">
            <a href="https://play.google.com/store/apps/details?id=univrso.userena.com" target="_blank">
              <img src="{% static 'images/app/app.png' %}" alt="" width="100%" />
            </a>

            <a href="#" class="btn-click btn-arriba" ></a>
            <a href="#" class="btn-click btn-abajo" ></a>
          </div>
        </center>
      </div>
      <div class="row section-title text-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
          <h3>Moocs</h3>
          <p style="text-align: center">{% blocktrans %}Cursos online masivos abiertos a la comunidad que permitirán potenciar los conocimientos astronómicos.{% endblocktrans %}</p>
        </div>
      </div>


      <!-- Detalle de los Moocs -->
      <div class="products">
        <div class="tab-content">
          {% for mooc in moocs %}
            {% if forloop.counter == 1 %}
              <div class="tab-pane fade in active" id="product1">
            {% else %}
              <div class="tab-pane fade" id="product{{forloop.counter}}">
            {% endif %}
                <div class="row">
                  <div class="col-sm-6">
                    <center>
                      <img class="img-responsive"  src="{{ mooc.imagen.url }}" alt="" />
                    </center>
                  </div>
                  <div class="col-sm-6">
                    <div class="product-details">
                      <h3 class="product-name">
                          {% if LANGUAGE_CODE == 'en'%}
                            {{ mooc.titulo_en }}
                          {% else %}
                            {{ mooc.titulo }}
                          {% endif %}
                      </h3>
                      <div class="product-info" style="padding-right: 20px;">
                        {% if LANGUAGE_CODE == 'en'%}
                          {% autoescape off %}{{ mooc.cuerpo_en }}{% endautoescape %}
                        {% else %}
                          {% autoescape off %}{{ mooc.cuerpo }}{% endautoescape %}
                        {% endif %}

                        <h5>{% trans 'Características' %}</h5>
                        <ul>
                          <!--li><i class="fa fa-angle-double-right"></i> {   % trans '250 cupos por semestre' %  }</li !-->

                          <li><i class="fa fa-angle-double-right"></i> {% trans 'Curso Online' %}</li>
                          <li><i class="fa fa-angle-double-right"></i> {% trans 'Masivo y abierto' %}</li>
                          <li><i class="fa fa-angle-double-right"></i> {% trans 'Idioma Español' %}</li>
                        </ul>

                        {% if forloop.counter == 1 %}
                          <a href="{% static 'images/mooc/brochure_mooc1.pdf' %}" target="_blank" class="btn btn-default btn-blanco">Más Info</a>
                          <a href="https://mooc.userena.digital/courses/course-v1:mooc+MO0203001A1+2022_02/about" target="_blank" class="btn btn-default btn-blanco">Inscríbete</a>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                          <a href="{% static 'images/mooc/brochure_mooc2.pdf' %}" target="_blank" class="btn btn-default btn-blanco">Más Info</a>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                        <a href="{% static 'images/mooc/brochure_mooc4.pdf' %}" target="_blank" class="btn btn-default btn-blanco">Más Info</a>
                        {% endif %}
                        {% if forloop.counter == 4 %}
                          <a href="{% static 'images/mooc/brochure_mooc3.pdf' %}" target="_blank" class="btn btn-default btn-blanco">Más Info</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          {% endfor %}
        </div> <!-- tab-content -->

        <!-- Imágenes selección -->
        <ul id="product-list" class="row nav nav-tabs" role="tablist">
          {% for mooc in moocs %}
            {% if forloop.counter == 1 %}
              <li class="col-sm-3 active">
            {% else %}
              <li class="col-sm-3">
            {% endif %}
                <a class="product-image" href="#product{{forloop.counter}}" role="tab" data-toggle="tab">
                  <img class="img-responsive" src="{{ mooc.imagen.url }}" alt="" />
                  <div class="product-name">
                    <p>
                      {% if LANGUAGE_CODE == 'en'%}
                        {{ mooc.titulo_en }}
                      {% else %}
                        {{ mooc.titulo }}
                      {% endif %}
                    </p>
                  </div>
                </a>
              </li>
          {% endfor %}
         </ul>
      </div>

    </div>
</div>

<!-- Seccion Noticias-->
<div id="noticias" class="padding-bottom">

    <div class="container-full padding-top">
      <div class="row section-title text-center">
          <!-- <div class="col-sm-8 col-sm-offset-2"> -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
              <h2>{% trans 'NOTICIAS' %}</h2>
              <p>En esta sección encontrarás una recopilación de noticias asociadas a la Astronomía de la Región de Coquimbo.</p>
          </div>
      </div>
    </div>
    <!-- Ciclo para Noticias -->
    {% for noticia in noticias %}
    <div class="blog">
      <div class="post-one-bg"></div>
      <div class="container">
          <div class="row">
              <div class="col-sm-2">
                  <div class="row">
                      <div class="col-sm-8 text-center">
                          <a class="day" href="/noticia/{{ noticia.id }}/">{{ noticia.fecha_creacion|date:"d" }}</a>
                      </div>
                      <div class="col-sm-4">
                          <a class="month" href="/noticia/{{ noticia.id }}/">{{ noticia.fecha_creacion|date:"M" }} <span>{{ noticia.fecha_creacion|date:"Y"}}</span></a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-10">
                <div class="post-info">
                  {% get_current_language as LANGUAGE_CODE %}
                  <!-- Current language: {{ LANGUAGE_CODE }} -->
                  {% if LANGUAGE_CODE == 'en'%}
                    <a href="/noticia/{{ noticia.id }}/"><h2>{{ noticia.titulo_en }}</h2></a>
                  {% else %}
                    <a href="/noticia/{{ noticia.id }}/"><h2>{{ noticia.titulo }}</h2></a>
                  {% endif %}
                </div>
              </div>
          </div>
      </div>
    </div>
    {% endfor %}
    <div class="row section-title text-center">
      <a href="/noticias" class="btn btn-default btn-blanco" style="margin-left: 0px !important">Ver Todas</a>
    </div>
</div>

<!-- Modal Lista de Correo -->
<div class="modal fade" id="suscribirModal" tabindex="-1" role="dialog" aria-labelledby="suscribirModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="suscribirModalLabel" style="display:inline;">Suscríbete en nuestra lista de correo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">

        <form id="form_correos" name="form_correos" class="form-inline" action="#" method="POST">
          {% csrf_token %}
          <div class="form-group">
            {{ formulario.email }}
            <button id="suscribir_correos" type="submit" class="btn btn-primary">Enviar</button>
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% for error_email in formulario.email.errors %}
                    <div class="alert alert-danger" role="alert">{{ error_email }}</div>
                {% endfor %}
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="respuestaListaCorreo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLista">Felicitaciones</h4>
            </div>
            <div class="modal-body">
                Usted ha sido inscrito en nuestra lista de correos.
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal suscribir listado de correos -->

<!-- Modal Inscripción de Congreso -->
<div class="modal fade" id="inicioModal" tabindex="-1" role="dialog" aria-labelledby="inicioModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
        <a href="http://mooc.userena.digital/courses/course-v1:userena+MO0203004A1+2019_02/about" alt="" target="_blank">
          <img class="img-responsive" src="{% static 'images/mooc/banner-mooc4.jpg' %}"/>
        </a>
      </center>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mensajeRespuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Felicitaciones</h4>
            </div>
            <div class="modal-body">
                 Usted ha sido registrado(a) al encuentro Astroturístico a realizarse el día 9 de Abril a las 14:30 en la Biblioteca Regional Gabriela Mistral.
                <br/><br/>
            </div>
        </div>
    </div>
</div>


<!-- Sección Contacto -->
<div id="contacto">
    <div class="container-full">
        <div class="row section-title text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
                <h2>{% trans 'CONTÁCTANOS' %}</h2>
            </div>
        </div>
    </div>
    <div class="container padding-bottom">
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="contact-info">
                    <i class="fa fa-home"></i>
                    <p>Amunategui #851, La Serena</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-info">
                    <i class="fa fa-comment"></i>
                    <p><a href="mailto:campusd@userena.cl">campusd@userena.cl</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-info">
                    <i class="fa fa-phone"></i>
                    <p>+56 51 2204566</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mapa -->
<div id="gmap"></div>
{% endblock %}
