<link rel="stylesheet" href="/static/css/stylePulso.css" type="text/css">
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}uniVRso | Campus Digital{% endblock %}

{% block content %}  
  <!-- Start About Us -->
  <div class="container-full padding-top">
      <div class="row section-title text-center" style="margin:0px !important;padding-bottom: 0px !important;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
            <h2>Multimedia</h2>
        </div>
      </div>
        <section class="section-100 section-lg-top-0">
          <div class="shell">
            <div class="range range-xs-gutter">
              {% if videos.0 %}
              <div class="cell-md-12">
                <a class="text-base" data-toggle="modal" href="#" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/{{videos.0.youtube_id}}">
                  <div class="post-blog post-blog-grid-2" onmouseover="preview_show('{{videos.0.youtube_id}}','#FF9401')" onmouseout="preview_stop('{{videos.0.youtube_id}}')">
                    <div class="thumbnail-variant-1">
                      <img class="img-responsive center-block" src="{{ videos.0.imagen.url }}" alt="" id="{{videos.0.youtube_id}}_img" style="display:block">
                      <div class="embed-responsive embed-responsive-16by9 categoria-video-preview" id="{{videos.0.youtube_id}}_video" style="display:none">
                        <div id="{{videos.0.youtube_id}}_player"></div>
                      </div>
                      <div class="caption">
                        <h6 class="post-blog-author" style="color:#FFFFFF">{{ videos.0.epigrafe }}</h6>
                        <h2 class="post-blog-title" id="{{videos.0.youtube_id}}_title" style="color:#FFFFFF">{{ videos.0.titulo }}</h2>
                        <p style="color:#FFFFFF">{{ videos.0.descripcion }}</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
              {% if videos.1 %}
              <div class="cell-md-6">
                <a class="text-base" data-toggle="modal" href="#" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/{{videos.1.youtube_id}}">
                  <div class="post-blog post-blog-grid-2" onmouseover="preview_show('{{videos.1.youtube_id}}','#FF9401')" onmouseout="preview_stop('{{videos.1.youtube_id}}')">
                    <div class="thumbnail-variant-1">
                      <img class="img-responsive center-block" src="{{ videos.1.imagen.url}}" alt="" id="{{videos.1.youtube_id}}_img" style="display:block">
                      <div class="embed-responsive embed-responsive-16by9 categoria-video-preview" id="{{videos.1.youtube_id}}_video" style="display:none">
                        <div id="{{videos.1.youtube_id}}_player"></div>
                      </div>
                      <div class="caption">
                        <h6 class="post-blog-author" style="color:#FFFFFF">{{ videos.1.epigrafe}}</h6>
                        <h2 class="post-blog-title" id="{{videos.1.youtube_id}}_title" style="color:#FFFFFF">{{ videos.1.titulo}}</h2>
                        <p style="color:#FFFFFF">{{ videos.1.descripcion }}</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
              {% if videos.2 %}
              <div class="cell-md-6">
                <a class="text-base" data-toggle="modal" href="#" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/{{videos.2.youtube_id}}">
                  <div class="post-blog post-blog-grid-2" onmouseover="preview_show('{{videos.2.youtube_id}}','#FF9401')" onmouseout="preview_stop('{{videos.2.youtube_id}}')">
                    <div class="thumbnail-variant-1">
                      <img class="img-responsive center-block" src="{{ videos.2.imagen.url }}" alt="" id="{{videos.2.youtube_id}}_img" style="display:block">
                      <div class="embed-responsive embed-responsive-16by9 categoria-video-preview" id="{{videos.2.youtube_id}}_video" style="display:none">
                        <div id="{{videos.2.youtube_id}}_player"></div>
                      </div>
                      <div class="caption">
                        <h6 class="post-blog-author" style="color:#FFFFFF">{{ videos.2.epigrafe }}</h6>
                        <h2 class="post-blog-title" style="color:#FFFFFF" id="{{videos.2.youtube_id}}_title">{{ videos.2.titulo }}</h2>
                        <p style="color:#FFFFFF">{{ videos.2.descripcion }}</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
              {% if videos.3 %}
              <div class="cell-md-12">
                <a class="text-base" data-toggle="modal" href="#" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/{{videos.3.youtube_id}}">
                  <div class="post-blog post-blog-grid-2" onmouseover="preview_show('{{videos.3.youtube_id}}','#FF9401')" onmouseout="preview_stop('{{videos.3.youtube_id}}')">
                    <div class="thumbnail-variant-1">
                      <img class="img-responsive center-block" src="{{ videos.3.imagen.url }}" alt="" id="{{videos.3.youtube_id}}_img" style="display:block">
                      <div class="embed-responsive embed-responsive-16by9 categoria-video-preview" id="{{videos.3.youtube_id}}_video" style="display:none">
                        <div id="{{videos.3.youtube_id}}_player"></div>
                      </div>
                      <div class="caption">
                        <h6 class="post-blog-author" style="color:#FFFFFF">{{ videos.3.epigrafe }}</h6>
                        <h2 class="post-blog-title" id="{{videos.3.youtube_id}}_title" style="color:#FFFFFF">{{ videos.3.titulo }}</h2>
                        <p style="color:#FFFFFF">{{ videos.3.descripcion }}</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
              {% if videos.4 %}
              <div class="cell-md-6">
                <a class="text-base" data-toggle="modal" href="#" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/{{videos.4.youtube_id}}">
                  <div class="post-blog post-blog-grid-2" onmouseover="preview_show('{{videos.4.youtube_id}}','#FF9401')" onmouseout="preview_stop('{{videos.4.youtube_id}}')">
                    <div class="thumbnail-variant-1">
                      <img class="img-responsive center-block" src="{{ videos.4.imagen.url }}" alt="" id="{{videos.4.youtube_id}}_img" style="display:block">
                      <div class="embed-responsive embed-responsive-16by9 categoria-video-preview" id="{{videos.4.youtube_id}}_video" style="display:none">
                        <div id="{{videos.4.youtube_id}}_player"></div>
                      </div>
                      <div class="caption">
                        <h6 class="post-blog-author" style="color:#FFFFFF">{{ videos.4.epigrafe }}</h6>
                        <h2 class="post-blog-title" id="{{videos.4.youtube_id}}_title" style="color:#FFFFFF">{{ videos.4.titulo }}</h2>
                        <p style="color:#FFFFFF">{{ videos.4.descripcion }}</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
              {% if videos.5 %}
              <div class="cell-md-6">
                <a class="text-base" data-toggle="modal" href="#" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/{{videos.5.youtube_id}}">
                  <div class="post-blog post-blog-grid-2" onmouseover="preview_show('{{videos.5.youtube_id}}','#FF9401')" onmouseout="preview_stop('{{videos.5.youtube_id}}')">
                    <div class="thumbnail-variant-1">
                      <img class="img-responsive center-block" src="{{ videos.5.imagen.url }}" alt="" id="{{videos.5.youtube_id}}_img" style="display:block">
                      <div class="embed-responsive embed-responsive-16by9 categoria-video-preview" id="{{videos.5.youtube_id}}_video" style="display:none">
                        <div id="{{videos.5.youtube_id}}_player"></div>
                      </div>
                      <div class="caption">
                        <h6 class="post-blog-author" style="color:#FFFFFF">{{ videos.5.epigrafe }}</h6>
                        <h2 class="post-blog-title" id="{{videos.5.youtube_id}}_title" style="color:#FFFFFF">{{ videos.5.titulo }}</h2>
                        <p style="color:#FFFFFF">{{ videos.5.descripcion }}</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </section>

      <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Cerrar</button>
              <div>
                <iframe width="100%" height="500px" src="" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    autoPlayYouTubeModal();

    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function autoPlayYouTubeModal(){
      console.log("autoPlayYouTubeModal");
      var trigger = $("body").find('[data-toggle="modal"]');
      trigger.click(function() {
        var theModal = $(this).data( "target" ),
        videoSRC = $(this).attr( "data-theVideo" ),
        videoSRCauto = videoSRC+"?autoplay=1" ;

        $(theModal+' iframe').attr('src', videoSRCauto);
        $(theModal).on('hidden.bs.modal', function () {
            $(theModal+' iframe').removeAttr('src');
        });
      });
    }

    var player;
    function preview_start(id){
      player = new YT.Player(id+'_player', {
          height: '100%',
          width: '100%',
          videoId: id,
          start: 50,
          events: {
            'onReady': onPlayerReady
          },
          playerVars: {
            'controls': 0,
            'showinfo': 0,
            'loop': 1,
            'start': 30,
            'autohide': 1,
            'mute': 1,
            'playlist': id
          }
      });
    }

    function onPlayerReady(event) {
      event.target.playVideo();
    }

    function preview_show(id,color){
      document.getElementById(id+'_video').style.display = 'block';
      document.getElementById(id+'_img').style.display = 'none';
      document.getElementById(id+'_title').style.color = color;
      preview_start(id);
    }

    function preview_stop(id){
      document.getElementById(id+'_video').style.display = 'none';
      document.getElementById(id+'_img').style.display = 'block';
      document.getElementById(id+'_title').style.color = '#FFF';
    }

  </script>
{% endblock %}
