{% load staticfiles %}
{% load i18n %}
<header id="navigation">
    <div class="navbar main-nav black-nav" role="banner">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                  <h1>
                      <img class="img-responsive" src="{% static 'images/logos/solounivrsoweb.svg' %}" style="width:116px" alt="univrso">
                  </h1>
                </a>
                <!-- <a class="navbar-brand" href="/congreso">
                  <h1>
                      <img class="img-responsive" src="{% static 'images/logos/congreso-astroturismo-blanco.svg' %}" style="width:116px" alt="congreso">
                  </h1>
                </a> -->
            </div>
            {% if request.get_full_path == '/'%}
              <nav id="main-menu" class="collapse navbar-collapse navbar-right">
            {% else %}
              <nav class="collapse navbar-collapse navbar-right">
            {% endif %}

              <ul class="nav navbar-nav">
                  <li class="active">
                    {% if request.get_full_path == '/'%}
                      <a href="#inicio">{% trans 'INICIO' %}</a>
                    {% else %}
                      <a href="/#inicio">{% trans 'INICIO' %}</a>
                    {% endif %}
                  </li>
                  <li>
                  {% if request.get_full_path == '/'%}
                      <a href="#somos">{% trans 'QUIÉNES SOMOS' %}</a>
                    {% else %}
                      <a href="/#somos">{% trans 'QUIÉNES SOMOS' %}</a>
                    {% endif %}
                  </li>
                  <li>
                    {% if request.get_full_path == '/'%}
                      <a href="#productos">{% trans 'NUESTROS PRODUCTOS' %}</a>
                    {% else %}
                      <a href="/#productos">{% trans 'NUESTROS PRODUCTOS' %}</a>
                    {% endif %}
                  </li>
                  <li>
                    {% if request.get_full_path == '/'%}
                      <a href="#noticias">{% trans 'NOTICIAS' %}</a>
                    {% else %}
                      <a href="/#noticias">{% trans 'NOTICIAS' %}</a>
                    {% endif %}
                  </li>
                  <li>
                    {% if request.get_full_path == '/'%}
                      <a href="multimedia">{% trans 'MULTIMEDIA' %}</a>
                    {% else %}
                      <a href="/multimedia">{% trans 'MULTIMEDIA' %}</a>
                    {% endif %}
                  </li>
                  <li>
                    {% if request.get_full_path == '/'%}
                      <a href="#contacto">{% trans 'CONTÁCTANOS' %}</a>
                    {% else %}
                      <a href="/#contacto">{% trans 'CONTÁCTANOS' %}</a>
                    {% endif %}
                  </li>
                  <li>
                    <form class="form_lenguaje" id="form_lenguaje" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                      {% get_current_language as LANGUAGE_CODE %}
                      <!--{{ LANGUAGE_CODE }}-->
                      <button id="bandera_chile" name="language" type="submit" value="es" alt="Chile" />
                   <!--    <button id="bandera_kgb" name="language" type="submit" value="en" alt="Inglés"/> -->
                    </form>
                  </li>

              </ul>
            </nav>
        </div>
    </div>
</header>
