{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}uniVRso | Campus Digital{% endblock %}

{% block content %}
<div id="inicio">
    {% get_current_language as LANGUAGE_CODE %}
<br/>
<section id="blog-details">
<div class="container">
  <div class="row blog-item">
    <div class="col-md-9 col-sm-7 blog-content" style="padding-bottom:100px">
      <div class="entry-header">
        <img class="img-responsive" src="{{ noticia.0.imagen.url }}" alt="foto" class="" />
        {% if LANGUAGE_CODE == 'en'%}
          <h5><i>{{ noticia.0.pie_imagen_en }}</i></h5>
        {% else %}
          <h5><i>{{ noticia.0.pie_imagen }}</i></h5>
        {% endif %}
      </div>
      <div class="entry-post">
        {% if LANGUAGE_CODE == 'en'%}
          <h2>{{ noticia.0.titulo_en }}</h2>
          {% autoescape off %}{{ noticia.0.cuerpo_en }}{% endautoescape %}
        {% else %}
          <h2>{{ noticia.0.titulo }}</h2>
          {% autoescape off %}{{ noticia.0.cuerpo }}{% endautoescape %}
        {% endif %}
      </div>
      <div class="compartir-noticia">
          <h3><i class="fa fa-share"></i>
            {% if LANGUAGE_CODE == 'en'%}
              Share:
            {% else %}
              Compartir:
            {% endif %}
          </h3>
          <div class="compartir-links">
            <a href="https://www.facebook.com/Univrso.ULS/" target="_blank" class="compartir-facebook"></a>
            <a href="https://twitter.com/univrso_uls?lang=es" target="_blank" class="compartir-twitter"></a>
            <a href="https://www.instagram.com/univrso.uls/" target="_blank" class="compartir-instagram"></a>
          </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-5">
      <div class="sidebar">
        <div class="sidebar-item recent-post">
          {% if LANGUAGE_CODE == 'en'%}
            <h3>News</h3>
          {% else %}
            <h3>Recientes Noticias</h3>
          {% endif %}


          <!-- Ciclo para últimas 5 Noticias -->
          {% for indice in ultimas|slice:":5" %}
            <div class="media">
            <div class="pull-left">
              <a href="/noticia/{{ indice.id }}/"><img src="{{ indice.imagen.url }}"  alt=""></a>
            </div>
            <div class="media-body">
              {% if LANGUAGE_CODE == 'en'%}
                <h4><a href="/noticia/{{ indice.id }}/">{{ indice.titulo_en }}</a></h4>
              {% else %}
                <h4><a href="/noticia/{{ indice.id }}/">{{ indice.titulo }}</a></h4>
              {% endif %}
              <p>{{ indice.fecha_creacion|date:"d/m/Y" }}</p>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </div>
  </div><!--/.blog-item-->
</div>
</section>

</div>
{% endblock %}
