{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}UniVRso | Campus Digital{% endblock %}

{% block content %}
<div id="inicio">
    {% get_current_language as LANGUAGE_CODE %}
<!-- <section id="blog-details"> -->
    <div id="todas" style="overflow: hidden;" class="padding-top padding-bottom"> <!-- Todas las noticias -->
      {% if LANGUAGE_CODE == 'en'%}
        <div class="row section-title text-center" style="padding-bottom: 0px;">
          <h2>News</h2>
        </div>
      {% else %}
        <div class="row section-title text-center" style="padding-bottom: 0px;">
          <h2>Noticias</h2>
        </div>
      {% endif %}
      <br/>
      <div class="portfolio-item padding-bottom portfolio_contents">
        <div id="portfolio_filter">
            {% for indice in noticias %}
              <div class="col-sm-3 col-md-3 col-lg-3 portfolio-content">
                  <img class="img-responsive" src="{{ indice.imagen.url }}" alt="" />
                  <a href="/noticia/{{indice.id }}/">
                      <div class="overlay">
                        {% if LANGUAGE_CODE == 'en'%}
                          <h5 style="margin: 30px; font-size: 16px;color:white">{{ indice.titulo_en }}</h5>
                        {% else %}
                          <h5 style="margin: 30px; font-size: 16px;color:white">{{ indice.titulo }}</h5>
                        {% endif %}
                      </div>
                  </a>
              </div>
              {% endfor %}
        </div>
      </div>
  <!-- </section> -->
  </div>
</div>
{% endblock %}
