/*=======================================================================
[Table of contents]
=========================================================================*/
/*** Inicio ***/
/* #fondo-video {
  color: #ffffff;
} */

#bandera_chile {
    background: url("../images/bandera_chile.png");
    border: 0;
    display: inline;
    height: 24px;
    width: 24px;
    margin-right: 5px;
    margin-top: 21px;
}

#bandera_kgb {
    background: url("../images/bandera_kgb.png");
    border: 0;
    display: inline;
    height: 24px;
    width: 24px;
}

.logo{
  content:url("../images/logos/logo_horizontal.svg");
}

.logo_en{
  content:url("../images/logos/logo_horizontal_en.svg");
}

body{
  font-size: 14px;
}

.navbar-brand {
    height: 70px;
    padding: 12.5px 15px;
}

.navbar-brand h1 {
    margin: 0px;
}

.mapa{
   height:500px;
}

.service-content {
    text-align: center;
}

.service-content i {
  color: #009fe3;
}

.service-content:hover i {
  color: #FFF !important;
}

/*** Quienes Somos ***/
.div-info{
    position: fixed;
    bottom: 15px;
    right: 21px;
    z-index: 999;
    padding: 5px;
}

.btn-mas-info{
  border-radius: 50%;
  background: url( '../images/mas_info.svg') no-repeat;
  height: 50px;
  width: 50px;
  padding: 0px;
  animation: pulse 1s infinite;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
}

.btn-mas-info:hover,
.btn-mas-info:active{
  border-radius: 30px;
  background: url( '../images/mas_info.svg') no-repeat;
  height: 50px;
  width: 50px;
  padding: 0px;
  animation: none;
}

.descripcion-instituciones{
  color:#000 !important;
  font-size: 12px !important;
  /*padding-top: 20px;*/
}


/*.descripcion-instituciones::before {
    content:'';
    display:inline-block;
    height: 100%;
    vertical-align:middle;
    width:0px;
}*/


.liston-redes-sociales {
  background: rgba(19, 19, 22, 0.30);
  position: relative;
  width: 100%;
  /* height: 220px; */
}

.barra-redes-sociales{
  text-align:center;
  line-height: 25px;
  color: #009fe3;
  margin:20px;
}

.slider-caption-redes-sociales{
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 20px;
    position: relative;
    font-weight: 500;
    left: 0%;
    top: 0%;
    width:100%;
    overflow: hidden;
}

.liston-quienes-somos{
  padding-bottom: 50px !important;
  margin: 0 !important;
  text-align: center;
}

.quienes-somos{
  padding-left: 0%;
  padding-right: 0%;
  display: table;
  margin: auto;
}

/* Efecto Flip Quienes Somos */
.info-card {
  float: left;
  /*margin: 10px;*/
  -webkit-perspective: 600px;
}

.front, .back {
  background: #FFF;
  /*border-radius: 10px;*/
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  /*border: 1px solid black;*/
  overflow:hidden !important;
}

.front {
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
}

.back {
  padding: 20px;
  -webkit-transform: rotateY(-180deg);
  overflow: scroll;
  display: table-cell;
  width: 200px;
  height: 200px;
  vertical-align: middle;
  /*border: 3px dashed #1c87c9;*/
}

.info-card:hover .back {
  -webkit-transform: rotateY(0);
}

.info-card:hover .front {
  -webkit-transform: rotateY(180deg);
}

.card-image {
  width: 100%;
  height: 100%;
  padding: 10px;
}

/* Team */
.section-title-two {
  margin-bottom: 25px !important;
  margin-top: 25px !important;
}

  .team-member h5 {
    font-size: 13px !important;
    font-weight: 400;
    text-transform: uppercase;
  }

  .team-member h6 {
    font-size: 12px;
    text-transform: capitalize;
  }
/*** Nuestros Productos ***/
/** Aplicacion **/
h3 {
  margin-bottom: 14px !important;
}

.contenedor {
    position: relative;
    width: 100%;
    /* max-width: 400px; */
}

.contenedor img {
    width: 100%;
    height: auto;
}

.container .btn-click{
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 181px;
    height: 69px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-arriba{
  top: 40%;
  left: 13%;
  background:url("../images/app/googleplay.svg") no-repeat;
}

.btn-abajo{
  top: 52%;
  left: 13%;
  background:url("../images/app/appstore.svg") no-repeat;
}

/** Moocs **/
.btn-blanco{
  color:#FFF;
}

.product-details h3.product-name {
  margin-right: 0px;
  text-align: left;
}

.product-details {
  padding-left: 0px;
}

.product-details h3.product-name {
  text-align: justify;
}

.products .nav-tabs > li a {
  padding:0px;
}

.nav-tabs .product-name{
  height: 100px;
}

/* Footer */

#footer {
  padding-top: 50px;
}

.copyright-text {
  padding: 0px !important;
}

.logos-footer{
  width: 16%;
}

.scroll-up a {
  color:#FFF !important;
}

/* Noticias */
.compartir-noticia {
    border-top: 1px solid #ddd;
    margin: 15px 0 0 0;
    padding: 20px 0 15px 0;
}

.compartir-noticia h3 {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: 5px;
    text-transform: none;
    font-size: 1.8em;
}

.compartir-links {
    vertical-align: middle;
}

.compartir-noticia .compartir-links {
    display: inline-block;
    margin-top: -9px;
}

.compartir-links a:before {
    font-family: "FontAwesome";
    text-indent: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 23px;
    height: 22px;
    margin: auto;
}

.compartir-links a {
    font-size: 14px;
    color: #fff;
    text-indent: -9999em;
    text-align: center;
    width: 2.2857em;
    height: 2.2857em;
    display: inline-block;
    margin: 0.2857em 0.5714em 0.2857em 0;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.compartir-links .compartir-facebook:before {
    content: "\f09a";
}

.compartir-links .compartir-twitter:before {
    content: "\f099";
}

.compartir-links .compartir-instagram::before {
    content: "\f16d";
}

.compartir-links .compartir-facebook {
    background: #3b5a9a;
}
.compartir-links .compartir-twitter {
    background: #1aa9e1;
}
.compartir-links .compartir-instagram {
    background: rgb(221,42,60);
}

/* Carrousel ondas */

.carousel .carousel-ondas {
  height: 170px;
  width: 100%;
  background-image: url(../images/franja.svg);
  position: absolute;
  bottom: 0px;
  background-repeat:no-repeat;
  background-position: bottom center;
}

/* Productos */

#product-list li:hover .product-name p {
  color: #ffffff;
}

/* Logo */

.slider-caption {
  top: 45%;
}

/* Redes sociales */

.service-content i {
  color: #ffffff;
  font-size: 5em;
}

.liston-redes-sociales {
    /* padding-top: 40px; */
    padding:20px;
}



/* Cambios */
/*.modal-header .close {
    margin-top: -10px;
}*/


div#suscribirModal form div.form-group{
  width: 100%;
}

div#suscribirModal form button{
    margin: 0px;
    top: -8px;
    width: 30%;
    text-align: center;
    padding: 17px 0px 17px 0px;
}

div#suscribirModal form input.input-inline{
    width: 65%;
}


div#congresoModal form div.form-group{
  width: 100%;
}

div#congresoModal form button{
    margin: 17px 0px 17px 33%;
    width: 30%;
    text-align: center;
    /* padding: 17px 0px 17px 0px; */
}

div#congresoModal form input.input-inline{
    width: 90%;
    display: block !important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.cargando{
    background-image: url('../images/cargando.gif');
    background-repeat: "no-repeat";
    background-position: "center center";
    width: 65.2;
    height: 34;
}


/* Seccion noticias */
.media-body{
  text-align: justify;
}


/*** Responsive ***/
/* large desktops and laptops */
@media (min-width: 1200px) {
  .container-fluid>.navbar-header{
    margin-left: 70px;
  }
}


@media (min-width: 1200px) and (max-width: 1340px) {
  .navbar-right li a {
    font-size: 14px !important;
    padding-left: 8px !important;
    padding-right: 9px !important;
  }
}

/* md - Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .container .btn-click{
    width: 155px;
    height: 58px;
  }

  #main-menu {
    margin-right: 17px;
  }

  .container-fluid>.navbar-header{
    margin-left: 17px;
  }

  /* Efecto Flip */
  .front {
    width: 162px;
  }

  .back {
    width: 162px;
  }

  #navigation .navbar-right li a {
    font-size: 13px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
}

/* sm - Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .service-content{
      margin-bottom: 0px !important;
  }

  #navigation .navbar-right li a {
    padding-left: 1px;
    padding-right: 2px;
    font-size: 9px;
  }

  #main-menu {
    margin-right: 0px;
  }

  .container .btn-click{
    width: 120px;
    height: 45px;
  }

  .logos-footer{
    width: 20%;
  }

  /* Efecto Flip */
  .front {
    width: 120px;
  }

  .back {
    width: 120px;
  }
}

/* xs */
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .slider-caption {
    top: 30%;
  }

  .form_lenguaje{
    padding: 15px 20px;
  }

  #bandera_chile {
    margin-top: 0px;
  }

  /* quienes somos */
  .quienes-somos{
    padding-left: 25%;
    padding-right: 25%;
  }

  .info-card {
    float: none;
  }

  .service-content {
      margin-bottom: 0px !important;
      float:left;
    }

  .slider-caption {
    position: relative !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo{
    content:url("../images/logos/logo_vertical.svg");
  }

  .logo_en{
    content:url("../images/logos/logo_vertical_en.svg");
  }

  .container .btn-click{
    width: 96px;
    height: 35px;
  }

   /* Team */
  .img-responsive {
    display: initial;
  }

  .team-member h5 {
    font-size: 16px !important;
    font-weight: 400;
  }

  .team-member h6 {
    font-size: 15px;
  }

  /* Mooc */
  .product-details {
    padding-left: 15px;
  }

  .video_liston{
    /* content:url("..video/franja.mp4"); */
  }

  .mapa{
     height:200px;
  }

  .logos-footer{
    width: 20%;
  }

  div#suscribirModal form button{
    margin: 0px;
    top: -8px;
    width: 40%;
    text-align: center;
    padding: 17px 0px 17px 0px;
  }

  div#suscribirModal form input.input-inline{
      width: 100%;
  }

}

/* XS Portrait */
@media (max-width: 479px) {

  .slider-caption {
    position: relative;
  }

  .container .btn-click{
    width: 51px;
    height: 19px;
  }

  /* Mooc */
  .product-details {
    padding-left: 15px;
  }

  .mapa{
     height:200px;
  }

  .logos-footer{
    width: 30%;
  }
}

.form-control::placeholder{
  color:#cbcbcb;
}

div.entry-post p a{
  color: #337ab7;
}
