
	
	<div id="details-portfolio" class="container">
		<div class="row">
			<div class="col-sm-6">
				<img class="img-responsive" src="images/portfolio/portfolio-details.jpg" alt="Portfolio details" />
			</div>
			<div class="col-sm-6">				
				<a class="item-close" href="javascript:void(0)"><i class="fa fa-times pull-right"></i></a>
				<div class="details-info">
					<h3>Our Awesome Image</h3>
					<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur </p>
					<ul>
						<li>Project: aliquet quam id </li>
						<li>Clients: Posuere blandit. </li>
						<li>Topic: Nulla </li>
					</ul>				
					<a href="#" class="btn btn-default" >View Live</a>
				</div>				
			</div>
		</div>
	</div>
	
	